<div class="card">

    <div class="card-header">
        Editar Empleado
    </div>

    <div class="card-body">

        <form [formGroup]="formularioDeEmpleado" (ngSubmit)="enviarDatos()">

            <div class="form-group mb-3">
                <label for="">Nombre:</label>
                <input formControlName="nombre" type="text" class="form-control" name="" id="" aria-describedby="helpId"
                    placeholder="Escribe un nombre">
            </div>

            <div class="form-group mb-3">
                <label for="">Email:</label>
                <input formControlName="correo" type="email" class="form-control" name="" id="" aria-describedby="helpId2"
                    placeholder="Escribe un correo">
            </div>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-success">Editar</button>
                <button routerLink="/listar-empleado" type="button" class="btn btn-primary">Cancelar</button>
            </div>

        </form>

    </div>

</div>